@font-face {
  font-family: 'Munro';
  src: url('../fonts/Munro.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
body, html {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

body {
  background: #000;
  color: #fff;
  text-align: center;
}

#game {
  width: 640px * 2;
  height: 480px * 2;
  margin: 10px auto;
  z-index: 1;
  cursor: none;
}
canvas {
  /** We want nearest neighbor stretching (pixelated) **/
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#ohno {
  text-align: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  h1 {
    margin: 50px 0 30px 0;
  }

  p {
    font-size: 18px;
  }

  a {
    color: #add8e6;
    text-decoration: none;
    border-bottom: 1px solid #add8e6;
  }
}

.hud {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px;
  text-align: center;
  font-family: "Munro", monospace;
  font-size: 42px;
  z-index: 90001;
  text-shadow: 0 1px 1px #000;
  background: rgba(0, 0, 0, 0.25);
  display: none;

  #speed {
    float: left;
    font-size: 25px;
    padding-left: 25px;
    padding-top: 5px;
  }

  #fiveaday {
    float: left;

    .carrot {
      height: 38px;
      width: 32px;
      background: url('../sprites/carrot.png');
      float: left;
    }

    .progress {
      float: left;
      border: 2px solid #ddd;
      height: 32px;
      width: 140px;
      margin-top: 6px;
      margin-left: 5px;
      padding: 4px 4px 4px 6px;

      .step {
        height: 100%;
        width: 18.2%;
        float: left;
        background: red;
        margin-right: 2%;
        opacity: 0.2;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          opacity: 1.0;
        }
      }
    }
  }

  #score {
    float: right;
  }
}

#fps {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 36px;
  font-family: "Munro", monospace;
  z-index: 90001;
  color: yellow;

  &.slow {
    color: red;
  }
}

#gameover {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 300px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.45);
  z-index: 99999;
  font-family: "Munro", monospace;
  padding: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  display: none;

  h1 {
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: normal;
    font-size: 36px;

    &.restart {
      margin-top: 15px;
      color: #ddd;
    }
  }
}

span.key {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  display: inline-block;
}

#dim {
  display: none;
  position: fixed;
  z-index: 8888888;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  h1 {
    font-family: "Munro", monospace;
    font-size: 48px;
    padding-top: 25px;
    font-weight: normal;

    img {
      vertical-align: -4px;
      padding-right: 4px;
    }
  }
}
#letter {
  display: none;
  height: 600px;
  width: 533px;
  background-image: url('../sprites/letter.png');
  position: fixed;
  z-index: 9999999;
  bottom: 50px;
  margin-left: 50%;
  left: (-533px) / 2;
  color: #000;
  font-family: "Munro", monospace;
  text-align: left;
  padding: 20px;
  font-weight: normal !important;
  font-size: 24px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.35);

  h1 {
    font-size: 30px;
  }

  .continue {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #555;

    .key {
      color: #fff;
    }
  }
}

#burningtomato {
  $height: 455px;
  display: none;
  font-family: "Munro", monospace;
  height: $height;
  top: 50%;
  margin-top: -($height / 2) - 50;
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;

  h1 {
    font-weight: normal;
    font-size: 46px;
  }
}